body {
  font-family: Arial;
  /*font-size: 12px;*/
}

.quelle {
  padding-left: 10px; 
  font-size: 11px;
}

text, .chart {
  font-weight: bold;
  font-size: 11px;
}

.node rect {
  /*cursor: move;*/
  fill-opacity: .9;
  stroke-width: 0px;
  /*shape-rendering: crispEdges;*/
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .4;
}



.link:hover {
  stroke-opacity: .9;
}

.tooltip {
	position: absolute;
	text-align: center;
	/*width: 120px;
	height: 32px;*/
	padding: 8px;
	margin-top: -20px;
	font: 10px Arial, Helvetica;
	background: #ddd;
	pointer-events: none;
	opacity: 1;
}